{#
/*  @file
 *  - attributes : HTML attributes for containing element
 *  - image_zoom: The rendered  element image zoom
 *  - gallery: The rendered list image
*/
#}

<div {{ attributes }} >
    <div class="clearfix">{{ image_zoom }}</div>
    {{ gallery }}
</div>